.formGroup {
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formGroup input,
.formGroup select {
  border: 2px solid var(--lightGray);
  width: 100%;
  background-color: var(--white);
  color: var(--darkGray);
  padding: 12px;
  border-radius: 20px;
  font-size: 1.2rem;
  outline: none;
}

.formGroup input::placeholder {
  color: var(--lightGray);
}

.label {
  color: var(--darkGray);
  position: absolute;
  top: 20px;
  background-color: transparent;
  right: 20px;
  opacity: 0;
  font-size: 12px;
  padding: 0 8px;
  transition: 0.3s ease-in-out;
  font-weight: 700;
}

.labelShow {
  top: -10px;
  background-color: var(--white);
  right: 30px;
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.labelShow {
  display: block;
}

.error input,
.error label {
  color: var(--error) !important;
  border-color: var(--error);
}

.alert {
  color: var(--error);
  font-weight: 700;
  margin-right: 8%;
  margin-top: 5px;
  font-size: 14px;
  width: 100%;
}

.close {
  background-color: transparent;
  position: absolute;
  color: var(--error);
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-size: 30px;
  margin: 0;
  transform: rotate(45deg);
  left: 10px;
  top: 4px;
}

.formGroup select {
  appearance: none;
  position: relative;
  background-image: url(/public/images/ArrowDown.png);
  background-position: center left 10px;
  background-repeat: no-repeat;
}

.lableSlected {
  position: absolute;
  top: 6px;
  right: 12px;
  width: 80%;
  height: 40px;
  z-index: 99;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--white);
  border-radius: 20px;
  font-size: 1.2rem;
  color: var(--lightGray);
}
