:root {
  --white: #e5e5e5;
  --yellow: #f7c150;
  --lightGreen: #80e8d0;
  --darkGreen: #4cb59f;
  --error: #bc3333;
  --lightGray: #616161;
  --darkGray: #404040;
  --bgYellow1: #ffb21a;
  --bgYellow2: #fdc350;
  --stepsGray: #e0e0e0;
}

.main {
  background-color: var(--white);
  direction: rtl;
  min-height: 100vh;
  padding: 2rem;
}
